<!DOCTYPE html>
<html>
<head>
<title>AS11_Sininat Chaemchu_68046200</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>


<nav class="navbar navbar-dark bg-dark">
<div class="container">

<span class="navbar-brand">ICT12367 SPU</span>

<div>
<a href="{% url 'home' %}" class="text-white me-3">หน้าแรก</a>
<a href="{% url 'register' %}" class="text-white me-3">ลงทะเบียน</a>
<a href="{% url 'about' %}" class="text-white">เกี่ยวกับเรา</a>
</div>

</div>
</nav>



<div class="container mt-4">

<div class="position-relative">

<img src="https://picsum.photos/900/200" class="img-fluid w-100">

<h3 class="position-absolute top-50 start-50 translate-middle text-white text-center">
ยินดีต้อนรับสู่เว็บไซต์ของรายวิชา ICT12367
</h3>

</div>

</div>



<div class="container mt-4">

<div class="card mx-auto" style="max-width:400px;">

<div class="card-header bg-primary text-white text-center">
แบบฟอร์มบันทึกข้อมูลประชากร
</div>

<div class="card-body">

<form>

<div class="mb-3">
<label class="form-label">ชื่อประชากร</label>
<input type="text" class="form-control" placeholder="กรุณากรอกชื่อ-นามสกุล">
</div>

<div class="mb-3">
<label class="form-label">อายุ</label>
<input type="number" class="form-control" placeholder="กรอกอายุของคุณ">
</div>

<button type="submit" class="btn btn-register">บันทึกข้อมูล</button>
<button type="reset" class="btn btn-reset">ล้างข้อมูล</button>

</form>

</div>

</div>

</div>



<footer class="bg-dark text-white text-center p-3 mt-5">
© 2026 ICT12367 SPU | Information Technology
</footer>


</body>
</html>