.gallery-img{
    width:100%;
    border-radius:10px;
    transition:0.4s;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

.gallery-img:hover{
    transform:scale(1.05);
    box-shadow:0 8px 16px rgba(0,0,0,0.4);
}